/* Estilo geral */
body {
    background-color: rgb(251, 248, 253); /* Fundo preto */
    color: #800080; /* Texto branco */
    font-family: initial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; /* Centraliza o texto */
}

/* Estilo do cabeçalho */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #800080; /* Roxo para o texto do cabeçalho */
}

header h1 {
    margin: 0;
    margin-bottom: 10px; /* Espaço entre o título e os links de navegação */
}

/* Estilo do rodapé */
footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem linha */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #800080; /* Roxo para o texto do rodapé */
    margin-right: 9px;
}

footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    color: #800080;
}

footer p {
    margin: 5px 0 0; /* Espaço acima do parágrafo */
    font-size: 16px;
    text-align: center;
}

footer img {
    width: 160px;
    height: auto;
    border-radius: 5px;
}
/* Estilo da navegação */
nav {
    display: flex;
    justify-content: center; /* Centraliza os links de navegação horizontalmente */
    align-items: center;
    gap: 10px;
    text-align: center;
}

nav a {
    color: #800080; /* Links roxos */
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #800080; /* Linha roxa embaixo dos links */
}

nav a:hover {
    color: black; /* Links pretos ao passar o mouse */
    background-color: rgb(164, 0, 240); /* Fundo dos links brancos ao passar o mouse */
}